<link rel="stylesheet" href="/static/css/home.css">


<link rel="stylesheet" href="./css/home.css">

<div class="homeContainer"></div>
<div class="topSection">
    <div class="sectionLeft">
        <p class="paragraph1">Get Your favorite HandyCrafts Here</p><br>
        <p class="paragraph2">Get up to 20% Off <br> New Arrivals</p>
        <div class="shopBtn">
            <button type="submit" class="btnShop"><a href="#">Shop Now</a></button>
        </div>
    </div>
    <div class="imageSection1">
        <img src="/static/images/model2.png" alt="Loading">
    </div>
</div>

<div class="cardSection">
    <div class="menSection">
        <a href="/mens">
            <img src="/static/images/hemp1.jpg" alt="Loading...">
            <p>Hemp Products<i class="fa-solid fa-arrow-right"></i></p>
        </a>
    </div>

    <div class="womenSection">
        <a href="/women">
            <img src="/static/images/model7.jpg" alt="Loading...">
            <p>Clothing<i class="fa-solid fa-arrow-right"></i></p>
        </a>
    </div>
    <div class="accessoriesSection">
        <a href="##">
            <img src="/static/images/yoga1.jpeg" alt="Loading...">
            <p>Yoga Items<i class="fa-solid fa-arrow-right"></i></p>
        </a>
    </div>

</div>