

<style>
    /* CSS for styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-top: 100px;
  padding: 0;
}
 h1 {
        text-align: center;
        top: 100px;
        height: 70px;
        width: 100%;
        padding: 20px;
        background-color: #333;
        font-size: 28px;
        color: #ffffff;
    }
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* To position the acceptPayments container */
}

p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}
strong{
    color: rgb(39, 33, 33);
    font-size: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  position: relative;
}

ul li:before {
  content: "\2192";
  color: #FFFFFF; /* Arrow color */
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em; /* Adjust arrow size */
  width: 1.5em; /* Adjust arrow size */
  border-radius: 50%;
  background-color: #FF6600; /* Background color */
  position: absolute;
  left: -2.5em; /* Adjust position */
  top: 0.3em; /* Adjust position */
}


.acceptPayments {
  margin-top: 80px;
  position: relative;
  bottom: 20px;
  right: 20px;
}

.acceptPayments p {
  margin-bottom: 10px;
}

.images img {
  width: 100px;
  margin-right: 20px;
}

</style>



<div class="container">

<h1> Terms and Conditions</h1>


<p>
    <strong> How to place an order</strong><br>
    When you have found the product that you would like to buy then simply note product code and send us at our contact
    email ecraftingnepal@gmail.com or sales@ecraftingnepal.com

    Registration is not necessary to place orders, however as a registered buyer, you will be able to shop faster, be up
    to date on orders status and keep track of the orders you have previously made. <br> <br>

    <strong>Do I need to register on-site</strong><br>
    Well you don’t’ need to register for to see the regular items in the site but you are required to register for to
    make pre-order submission (add to the cart and submit of your selection) because your shipping address including
    your phone number is must required for us to make Performa invoice with delivery cost.
    However you are required to register and get our manual approval for to see the new current season items and add on
    your order list.
</p>

<p>

    <strong> Do I Get the Sample</strong><br>
    Sure you could get the sample but you are required to pay for products & delivery cost. However if you make your
    order from the sample then we will refund the cost of particular sample but not the delivery cost.
</p>


<p>
    <strong> How about label & Hangtag</strong><br>
<ul>
    <li>Buyer could use your own brand name, logo, label & hangtag. But you are required to provide your label & hangtag
        or you could send your design on psd or pdf file and we will produce it for you but we will add the cost on your
        invoice.
    </li>
    <li>Minimum 1000 Pcs label & Hangtag required to produce in one batch.</li>
</ul>
</p>

<br>

<p>
    <strong> Production Lead Time</strong><br>
    As per Products’ nature, availability of the production schedule in factory and the size of order effect the
    production lead time, usually it takes minimum 7 days and maximum 30 days for to complete the production, Production
    lead time will begin only after order conformed and Order conform only after advance Payment received.  <br><br>

    <strong>Time of Delivery</strong><br>
    If the customer prefers to send his/her consignment by Air, it takes maximum 12 days more after production period to
    be reached at the final Airport and the goods should be cleared from the airport. The airport should be
    international. This is applicable for all over the Europe, America and Asia. <br><br>

    Likewise if he/she prefers to send the goods through courier service (DHL, United Parcel Service, Skynet etc.), it
    takes maximum 7 days after production period to be delivered instead of 10 days to be delivered in the each and
    every final destination. It is door to door service.  <br><br>

    <strong>Return/Refund Policy</strong><br>
    If the customer wants to return the product, he/ she should contact us by email at <a href="#">sales@ecraftnepal.com</a>
    describing the reason and evidence of dissatisfaction. <br>

    Please check and notify us about the product to return within 7 days after receipt of the order. Nepal Handicraft
    Exporter P. Ltd will always be attentive on this issue based on the logistic reason of dissatisfaction and start to
    find the best possible solution on mutual understanding between the both parties (the customer and Nepal Handicraft
    Product Exporter P. Ltd).
</p>
<p>
<ul>
    <li>Claims made after one week of receipt of the order will not be accepted.</li>
    <li>Exchange of goods on the condition that the goods to be exchanged will be similar in nature and be available
        from the same manufacturer or supplier; in such cases the transportation cost involved for returning goods to
        Nepal from his/ her country will be paid by the customer.

        Nepal Handicraft Product Exporter P. Ltd will not be responsible if any items that are lost while being
        returned, hence safe and secure delivery is suggested.

        Upon receipt the returned goods, Nepal Handicraft Product Exporter P. Ltd reserves the right to decide whether
        to refund or exchange (re-send) the product (s)

        Since most of our products are handcrafted, there can be slight variations in color, size, finishing touch or
        even some irregularities.
    </li>
    <li>Lost or damage of any products must be claimed directly with involved Courier Company. Nepal Handicraft Product
        Exporter P. Ltd won´t accept the returned goods if it is sent without our return authorization. Authorized
        return must be sent to us in its original packaging.</li>
</ul>
I hope that above provided information will help you to understand how to make order with us but if you got any
difficulties or confusion then please do not hesitate to send email. We will do our best to serve you.
</p>


<div class="acceptPayments">
    <strong>We accept</strong>
    <div class="images">
        <img src="/static/images/visa1.jpeg">
        <img src="/static/images/master.png">
        <img src="/static/images/esewa.webp">
    </div>
</div>


</div>