<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/static/css/mens.css">
<link rel="stylesheet" href="/static/css/women.css">

<h2>Womens' Fashion</h2>
<hr>

<div class="cardContainer">
    <h3>women upper outfits</h3>
    <div class="womenShirts">
        <div class="card">
            <div class="card-content">
                <img src="./images/wshirt1.webp" alt="Loading..">
                <h4 class="product-title">Full outfit</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="./images/wshirt2.jpg" alt="Loading..">
                <h4 class="product-title">Long shirt</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="./images/wshirt6.jpg" alt="Loading..">
                <h4 class="product-title">1 piece</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="./images/wshirt7.jpg" alt="Loading..">
                <h4 class="product-title"> Shirt</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <img src="./images/wshirt10.jpg" alt="Loading..">
                <h4 class="product-title">Girl Hoodie</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
    </div>
    <hr>
    <h3>womens' pants</h3>
    <div class="womenLower">
         <div class="card">
            <div class="card-content">
                <img src="./images/wpant1.jpg" alt="Loading..">
                <h4 class="product-title">Girl Pant</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
         <div class="card">
            <div class="card-content">
                <img src="./images/wpant2.jpg" alt="Loading..">
                <h4 class="product-title">Hot Jeans</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
         <div class="card">
            <div class="card-content">
                <img src="./images/wpant7.jpg" alt="Loading..">
                <h4 class="product-title"> Formal pant</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
         <div class="card">
            <div class="card-content">
                <img src="./images/wpant4.jpg" alt="Loading..">
                <h4 class="product-title">Girl joggers</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
         <div class="card">
            <div class="card-content">
                <img src="./images/wpant5.jpg" alt="Loading..">
                <h4 class="product-title">Joggers</h4>
            </div>
            <p class="price">NRS: 2000</p>
            <div class="btnSection">
                <button class="AddCart"> Add Cart</button>
                <label for="heartCheckbox"><i class="fa-solid fa-heart"></i></label>
            </div>
        </div>
    </div>
</div>